* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::selection {
  background: #F2B0C0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F6F7F8;
}

#header {
  background-color: #20A4F3;
  height: 60px;
  width: 100vw;
  box-shadow: 0px 0px 4px 0px rgba(1, 22, 39, 0.12), 0px 4px 4px 0px rgba(1, 22, 39, 0.24);
  margin-bottom: 32px;
}

.container {
  max-width: 960px;
  margin: auto;
  padding: 0 16px 16px 16px;
}

.container h1 {
  display: inline-block;
  color: #F6F7F8;
  font-size: 24px;
  line-height: 60px;
}

.textbutton {
  display: inline-block;
  color: #F6F7F8;
  text-transform: uppercase;
  float: right;
  cursor: pointer;
  line-height: 60px;
}

.newEntry {
  width: 100%;
  padding: 16px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
  margin-bottom: 16px;
  background-color: #fff;
}

.content {
  font-size: 14px;
  line-height: 18px;
  color: #011627;
  margin-bottom: 8px;
}

.source {
  font-size: 12px;
  color: #C8D7E4;
}
